* {
  margin: 0;
  padding: 0;
}

/*NAVBAR*/
.header {
  height: 9rem;
  width: 100%;
  background-color:#F7A23A;
  padding-top: 2rem;
}

.barre_de_nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: x-large;
}

.barre_de_nav_user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 4rem;
  padding-left: 4rem;
}

.barre_de_nav li,
.barre_de_nav_user li {
  list-style: none;
}

.barre_de_nav a {
  text-decoration: none;
  color: black;
}

.bouton_deco{
  border: none;
  background-color: #F7A23A;
  cursor: pointer;
}



/*FOOTER*/

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F7A23A;
  height: 7rem;
}
