* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-james {
    background-color: #0F2582;
}

.titre-ing {
    color: #ffffff;
    text-align: center;
    font-size: 2rem;
    margin: 0 auto 1rem;
    padding-top: 2rem;
}

.button-james {
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
}

.ajout-ing {
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 4rem auto;
}

.tab-ing {
    width: 100%;
    margin: 4rem auto 0;
    padding-bottom: 2rem;
    text-align: center;
}

.info-ing {
    background-color: #f7a23a;
    border: 3px solid #f85A19;
    width: 20rem;
    padding: 1rem;
}

.info-menu {
    background-color: #f7a23a;
    border: 3px solid #f85A19;
    text-align: center;
    width: 20%;
    padding: 1rem;
    
}

.supp-but {
    padding: 1rem;
    background-color: #f85A19;
    color: #dddddd;
    border-radius: 1rem;
}

